{% extends 'base.html' %}

{% block content %}
<!-- Load the static tag library -->
{% load static %}
<div class="container mt-4">
    <h1>Employee Directory</h1>
    <div class="row mb-2">
        <div class="col">
            <a href="#" class="btn btn-primary btn-sm">Add Employee</a>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm" type="button">Search</button>
                </div>
            </div>
        </div>
        <div class="col text-right">
            <a href="#" class="btn btn-success btn-sm">
                <i class="fas fa-file-import"></i> Import
            </a>
            <a href="#" class="btn btn-info btn-sm">
                <i class="fas fa-file-export"></i> Export
            </a>
            <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#filterModal">
                <i class="fas fa-filter"></i> Filter
            </button>
       
             
            <!-- Filter Modal -->
            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filterModalLabel">Filter Employees</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        
                            <form>
                                <!-- Status Filter -->
                                <div class="form-group text-left">
                                    <label>Status</label>
                                    <div class="form-check"  >
                                        <input class="form-check-input" type="radio" name="statusFilter" id="{{ status.name }}Filter" value="{{ status.name }}">
                                        <label class="form-check-label" for="{{ status.name }}Filter">
                                           None
                                        </label>
                                    </div>
                                    {% for status in statuses %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="statusFilter" id="{{ status.name }}Filter" value="{{ status.name }}">
                                            <label class="form-check-label" for="{{ status.name }}Filter" style="color: {% if status.name == 'Active' %}green{% elif status.name == 'Not started' %}purple{% elif status.name == 'Terminated' %}red{% else %}black{% endif %}">
                                                {{ status.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>                              
                                <!-- Location Filter -->
                                <div class="form-group text-left">
                                    <label for="locationFilter" class="text-left">Location</label>
                                    <select class="form-control" id="locationFilter">
                                        <option> </option>
                                        {% for location in locations %}
                                            <option>{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group  text-left text-inline">
                                    <label for="companyFilter">Company</label>
                                    <select class="form-control" id="companyFilter">
                                        <option> </option>
                                        {% for company in companies %}
                                            <option>{{ company }}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                                <div class="form-group  text-left">
                                    <label for="positionFilter">Position</label>
                                    <select class="form-control" id="positionFilter">
                                        <option> </option>
                                        {% for position in positions %}
                                            <option>{{ position.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group  text-left">
                                    <label for="departmentFilter">Department</label>
                                    <select class="form-control" id="departmentFilter">
                                        <option> </option>
                                        {% for department in departments %}
                                            <option>{{ department.name }}</option>
                                        {% endfor %}
                                         
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="applyFiltersButton">Apply Filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="employeeTableContainer"></div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
          
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    var selectedStatus ='';
    var locationFilter = '';
    var positionFilter ='';
    var departmentFilter ='';
    var companyFilter ='';
    var columnData = [];
    // Wait for the DOM to be ready
    document.addEventListener("DOMContentLoaded", function () {
        // Reset all radio buttons to null
        var radioButtons = document.querySelectorAll('input[name="statusFilter"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.checked = false;
        });
        // document.querySelector('input[name="statusFilter"]:checked').value = '';
        // document.getElementById("locationFilter").value = '';
        // document.getElementById("positionFilter").value = '';
        // document.getElementById("departmentFilter").value = '';
      
    });
 
    // JavaScript code to make the API call when the button is clicked
    document.getElementById("applyFiltersButton").addEventListener("click", function () {
        // Construct the API URL for the "search" endpoint
        var searchAPIUrl = "http://localhost:8001/search/";  
        // Get the status values from the checkboxes
        selectedStatus = document.querySelector('input[name="statusFilter"]:checked');
        locationFilter = document.getElementById("locationFilter");
        positionFilter = document.getElementById("positionFilter");
        departmentFilter = document.getElementById("departmentFilter");
        companyFilter = document.getElementById("companyFilter");
        companyFilter = companyFilter.value
        // // Get the selected option's value
        var selectedValue = positionFilter.value;
           
        // Construct the URL with the company value
        var companyAPIUrl = `http://localhost:8001/companies/${companyFilter}`;
        console.log(167,companyFilter,companyAPIUrl)
        // Make the HTTP GET request
        fetch(companyAPIUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                columnData = data
                // Handle the data received from the server
                console.log("Company Data:", columnData);
            })
            .catch(error => {
                // Handle errors
                console.error("Error:", error);
            });
        // Log the selected value to the console (you can use it as needed)
        console.log("Selected companyFilter Value:", selectedValue, companyFilter);
        // Construct the filter parameters based on user input (if needed)
        var filters = {
            status: selectedStatus ? selectedStatus.value : '',
            location: locationFilter ? locationFilter.value : null,
            department: departmentFilter ? departmentFilter.value : null,
            position: positionFilter ? positionFilter.value : null,
            company: companyFilter ? companyFilter : null
          
        };
        // Append the filter parameters to the API URL
        var queryString = Object.keys(filters).map(key => key + '=' + filters[key]).join('&');
        searchAPIUrl += '?' + queryString;
        $("#locationFilter").val('');
        $("#positionFilter").val('');
        $("#departmentFilter").val('');
        $("#companyFilter").val('');
        $("#statusFilter").val(false);
        // Make the API request using fetch()
        fetch(searchAPIUrl, {
            method: "GET", 
            headers: {
                "Content-Type": "application/json", 
                "X-API-Key":"1234"

            },
             
        })
            .then(function (response) {
                if (response.status === 200) {
                    // Handle successful response here (e.g., update UI with results)
                    response.json().then(function (data) {
                        // Process and display data as needed
                        employees = data
                        console.log(222, data);
                        renderTable(data, columnData);
                    });
                } else {
                    // Handle error response here
                    console.error("API request failed with status: " + response.status);
                }
            })
            .catch(function (error) {
                // Handle network or other errors here
                console.error("API request failed with error: " + error);
            });
    });
    
    // Function to render the table with the new data
    function renderTable(data) {
        var tableContainer = document.getElementById("employeeTableContainer");

        // Clear previous content
        tableContainer.innerHTML = "";

        if (data.length === 0) {
            // No data to display
            return;
        }
        // Create a new table
        var table = document.createElement("table");
        table.className = "table table-hover";

        // Add table header
        var thead = document.createElement("thead");
        thead.className = "thead-dark"
 
        var headerRow = document.createElement("tr");
        // var headerRow = document.createElement("tr");
        // print(246, columnData)
        // // Add header columns based on the provided columnData
        // headerColumn = ["First Name", "Last Name", ...columnData, "Status", "Actions"];
        
        // headerColumn.forEach(function (column) {
        //         var th = document.createElement("th");
        //         th.textContent = column;
        //         headerRow.appendChild(th);
        //     });
        // var headers = ["First Name", "Last Name", "Contact Info", "Department", "Location", "Position", "Status", "Actions"];
        // headers.forEach(function (headerText) {
       
        //     th.textContent = headerText;
        //     headerRow.appendChild(th);
        // });
        // Get keys from the first object
        var keys = Object.keys(data[0]);

        // Add header columns
        keys.forEach(function (key) {
            var th = document.createElement("th");
            th.textContent = key;
            headerRow.appendChild(th);
        });
        // Add "Actions" header
        var actionsTh = document.createElement("th");
        actionsTh.textContent = "Actions";
        headerRow.appendChild(actionsTh);
        thead.appendChild(headerRow);
        table.appendChild(thead);
 

        // Add table body
        var tbody = document.createElement("tbody");
        // print(270, data, headerColumn)
        // Add rows with employee data
        data.forEach(function (item) {
            var tr = document.createElement("tr");
            // Add cells with item data
            keys.forEach(function (key) {
                var td = document.createElement("td");
                 // Check if key is an object
                if (typeof item[key] === 'object' && item[key] !== null && 'name' in item[key]) {
                    td.textContent = item[key].name;
                } else if (typeof item[key] === 'object' && item[key] !== null && 'title' in item[key]) {
                    td.textContent = item[key].title;
                } else {
                    td.textContent = item[key];
                }
                tr.appendChild(td);
            });
             // Add "Edit" and "Delete" buttons
            var actionsTd = document.createElement("td");
            actionsTd.innerHTML = `
                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            `;
            tr.appendChild(actionsTd);
    
            tbody.appendChild(tr);
        });

        table.appendChild(tbody);

        // Append the table to the container
        tableContainer.appendChild(table);
        selectedStatus = '';
        locationFilter = '';
        positionFilter = '';
        companyFilter = ''
        // document.getElementById("locationFilter") = '';
        $('#filterModal').modal('hide');
    }
</script>
{% endblock %}
